<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>14608810583-g932b3p152kgp1f4o2qq6vnb0am2l26c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14608810583-g932b3p152kgp1f4o2qq6vnb0am2l26c</string>
	<key>API_KEY</key>
	<string>AIzaSyDNcrylb2f-BIwd-H-D4LFcsqNQVNs3r1o</string>
	<key>GCM_SENDER_ID</key>
	<string>14608810583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiloloco.Storage-On-Firebase</string>
	<key>PROJECT_ID</key>
	<string>storage-to-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>storage-to-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:14608810583:ios:e8b064ab9fe43250</string>
	<key>DATABASE_URL</key>
	<string>https://storage-to-firebase.firebaseio.com</string>
</dict>
</plist>